html
	head
		title beacon test
		link(rel="stylesheet",href="/style.css")
	body#app


		svg(x="0px", y="0px", viewBox="0 0 1190.6 841.9").overlay

			g(v-for="beacon in beacons")
				circle(v-bind:cx="beacon.x", v-bind:cy="beacon.y", r="5", v-bind:fill="beacon.fill")
				circle(v-bind:cx="beacon.x", v-bind:cy="beacon.y", v-bind:r="beacon.circle.radius", v-bind:fill="beacon.fill", opacity="0.5", fisll="url(#RadialGradient1)")

			circle(v-bind:cx="position.x", v-bind:cy="position.y", r="10").dot

		include ./../public/redweb-floor3.svg
		script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/bundle.js")
